In [1]:
#they told us

In [ ]:
print("hii")

In [ ]:
"%d %d" % (1,2)

In [5]:
"{}{}".format(1,2)

'12'

In [6]:
" {1}{0}".format(1,2)

' 21'

In [8]:
"{name},{1}".format(1,2,name="yatharth")

'yatharth,2'

In [9]:
# strip wtthite space hata detta hai

In [10]:
#input fuc can only get stop if we use \n or EOF or Ctrl C

In [ ]:
a=input("")

In [2]:
a.split("at")

['y', 'h', 'hrth', '']

In [13]:
# replace jo hotta hai vo string ko replace krrega...assa nhi h ki sirf char ko krrega

In [14]:
# every datastructures is immutalbe other than list dictionary and sets

In [15]:
#id fuction gives memory adress of variable

In [18]:
a=1
print(id(a))
a=2
print(id(a))

140710874705664
140710874705696

In [3]:
a=1
print(id(a))
b=1
print(id(a))
# python me -5 to 265 ko phle se allocate krr letta hai
#ye freq use hai to vo assa krre ga but 257 alag values degga
c=257
d=257
print(id(c))
print(id(d))

140712989814528
140712989814528
1573019064432
1573019064656

In [22]:
a="yatharth"*1200
print(id(a))
a="yatharth"*1200
print(id(a))

2995596130256
2995596579120

In [23]:
a="yatharth"*120
print(id(a))
a="yatharth"*120
print(id(a))

2995567682784
2995567682784

In [24]:
#RAM ki aukat ke basis pr result aaega

In [25]:
a=[1,2,3,4]

In [26]:
a

[1, 2, 3, 4]

In [27]:
a[0]

1

In [28]:
#list is iterable

In [29]:
for i in a:
    print(i)

1
2
3
4

In [30]:
3 in a

True

In [31]:
[1,2,3]*[1,2,3]

TypeError: can't multiply sequence by non-int of type 'list'

In [32]:
{1,23}*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [33]:
a

[1, 2, 3, 4]

In [34]:
a[-1]

4

In [35]:
a[1:]

[2, 3, 4]

In [36]:
#it has also start end and jump

In [8]:
a=input("")
def rev(a):
        if len(a)==0:
            return a
        else:
            return rev(a[1:]) + a[0]

qwerty

In [9]:
rev(a)

'ytrewq'

In [41]:
a="aabca"
a[::-1]

'acbaa'

In [11]:
a=[1,2,3,4]
b=a
b[0]=100
a[1]=99
print(a)
print(b)
print(id(a))
print(id(b))

[100, 99, 3, 4]
[100, 99, 3, 4]
1573027864520
1573027864520

In [13]:
row = [" "] *3

In [14]:
board1= [row] *3

In [15]:
board1

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [17]:
board1[2][2]="*"
board1

[[' ', ' ', '*'], [' ', ' ', '*'], [' ', ' ', '*']]

In [4]:
board=[]
for i in range(3):                      #  aur a=b krte h to same container me b value change krrega to a ki bhi value change ho jaaegi
    board.append(row.copy())            # upper walla ALIAS ke kaam aata h usme hum chate ki aagr b ki value change horri to a ki bhi ho 
                                         # copy walla ek dusra same container bnnega to value a ki ni badlegii

In [5]:
board

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [6]:
board[1][1] = "x"

In [7]:
board

[[' ', ' ', ' '], [' ', 'x', ' '], [' ', ' ', ' ']]

In [13]:
for row in board:
    print(" ".join )

<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>
<built-in method join of str object at 0x000001E9BEE25500>

### how to change the elemnt of list

#### list are hetrogenous

In [14]:
# we can store any datatype in list

In [16]:
b=[1,2,3,4, print]
b[-1]("hii")

hii

In [18]:
b.insert(1,[1,2,3])

In [19]:
b

[1, [1, 2, 3], 2, 3, 4, <function print>]

In [20]:
# insert 2 values legga hi legga aagr nhi def krro ge to error dedega

In [21]:
b.insert([1,2,3])

TypeError: insert() takes exactly 2 arguments (1 given)

In [22]:
a=10
a=a+5

In [23]:
a

15

In [27]:
b+= 'yatharth'
b

[1,
 [1, 2, 3],
 2,
 3,
 4,
 <function print>,
 'y',
 'a',
 't',
 'h',
 'a',
 'r',
 't',
 'h',
 'y',
 'a',
 't',
 'h',
 'a',
 'r',
 't',
 'h']

In [30]:
a = a + 'yatharth'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
b =b + list(range(5))
b

[1,
 [1, 2, 3],
 2,
 3,
 4,
 <function print>,
 'y',
 'a',
 't',
 'h',
 'a',
 'r',
 't',
 'h',
 'y',
 'a',
 't',
 'h',
 'a',
 'r',
 't',
 'h',
 0,
 1,
 2,
 3,
 4,
 0,
 1,
 2,
 3,
 4]

In [34]:
# += and a= a+ somthing alag alag treat hotta hai
# += ko samane kuch iterable chiye hotta hai but =+ walla same chiij hi add up hogga

In [37]:
b=b.remove("h")
#remove jo hai vo object letta hai means jo bracket me dalenge usse udaaega

In [41]:
b

In [42]:
print(b.pop())

AttributeError: 'NoneType' object has no attribute 'pop'

In [44]:
b=[1,2,3,4,5]
print(b.pop(3))

4

In [45]:
a.remove?

Object `a.remove` not found.

In [46]:
# func btw methord
#remove is a func

In [49]:
b=[12,3,4,5,6]

In [50]:
sorted(b)

[3, 4, 5, 6, 12]

In [51]:
b

[12, 3, 4, 5, 6]

In [52]:
b.sort()

In [53]:
b

[3, 4, 5, 6, 12]

In [54]:
b

[3, 4, 5, 6, 12]

In [55]:
#.sort jo hai methord hai to vo value bhi change krdeega and return krrega
#but sorted jo hai vo fuction hai vo values change ni krrega

In [57]:
list(reversed(b))

[12, 6, 5, 4, 3]

In [58]:
b

[3, 4, 5, 6, 12]

In [60]:
b.reverse()
b

[12, 6, 5, 4, 3]

## tenserflow playground try for ML

#tuples

In [61]:
a=(1,2,3,4)
b=a
print(id(a))
print(id(b))

2103480878648
2103480878648

In [62]:
# every immutable datastrucre is hashable

In [63]:
# hash has a funtion which is one one fuction

In [64]:
# we can convert tuple to list and vice versa

In [65]:
a=(1,2,3,4)
b=list(a)

In [66]:
b

[1, 2, 3, 4]

In [74]:
a = [1]
b = [1]
a is b

False

In [71]:
c=tuple(b)
if a is c:
    print("hii")
else:
    print("bye")

bye

In [70]:
a=5
b=9
print(a,b)
a=a topi b
b= a ^ b
a a^b
print(a,b)

SyntaxError: invalid syntax (<ipython-input-70-7d93f43c4dbe>, line 4)

#do it in hw

In [75]:
#COntainers like order and unoreder
# list and tuple are ordered conatiner and dick is unordered container

In [76]:
# so hum oder container pr iterate kr sakte hai but not in unorder

In [ ]:
d= {
    "name":"yatharth",
     "age":"19",
    "score":"07",
    "friends":{
        "nobody":"hii loner"
    }
}

In [3]:
d["name"]

'yatharth'

In [4]:
d["friends"]["nobody"]

'hii loner'

In [87]:
for i in d:
    print(d[i])

yatharth
19
07
{'nobody': 'hii loner'}

In [89]:
p=(1,2,3)
x,y,z = p

In [90]:
x

1

In [91]:
a

[1]

In [93]:
a=4
b=6             #we can swap then by making them tuples
a,b = b,a
print(a)
b

6

4

In [94]:
d

{'name': 'yatharth',
 'age': '19',
 'score': '07',
 'friends': {'nobody': 'hii loner'}}

In [95]:
for key,value in d.items():
    print(key,"==>",value)

name ==> yatharth
age ==> 19
score ==> 07
friends ==> {'nobody': 'hii loner'}

In [5]:
for x in d.items():
    print(x)

('name', 'yatharth')
('age', '19')
('score', '07')
('friends', {'nobody': 'hii loner'})

In [6]:
for x in d.elements():
    print(x)

AttributeError: 'dict' object has no attribute 'elements'

In [97]:
for k in d.values():
    print(k)

yatharth
19
07
{'nobody': 'hii loner'}

In [1]:
a.add(100) #add 100 to set
a-b # a se values hata degga jo b me bhi hai
b-a # b se a walle elemnt

NameError: name 'a' is not defined

In [2]:
for i in range(n):
    d= {
        "roll_no":int(input())
        "name":input()
    }
    student.append(d)

SyntaxError: invalid syntax (<ipython-input-2-fd09ca187e65>, line 4)

In [3]:
d=["tea","coffe","coffe","beer"]
for i in range(len(d)):
    if i == d.index(d[i]):
        print(drinks[i])

NameError: name 'drinks' is not defined

In [4]:
d

['tea', 'coffe', 'coffe', 'beer']

In [6]:
print(d.split("e"))

AttributeError: 'list' object has no attribute 'split'

In [7]:
add=lambda a,b:a+b
add(1,3)

4

In [3]:
for x in map(lambda x: x*2 ,[1,2,3,4]):
    print(x)

2
4
6
8

In [4]:
list(map(lambda x:x*2,"yatharth"))

['yy', 'aa', 'tt', 'hh', 'aa', 'rr', 'tt', 'hh']

In [1]:
arr=list(map(int,input().split(', ')))

1, 2, 3

In [6]:
for x in arr:
    print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>

In [20]:
p=[1,2,3,4,56,6]
list(filter(lambda x: x%2==0,p))

[2, 4, 56, 6]

In [22]:
p=[1,2,3,4,56,6]
list(lambda x: x%2==0)

TypeError: 'function' object is not iterable

In [9]:
arr=[1,2,3,4,5,6,7]
def check(x):
    if x%2==0:
        print(x)

In [10]:
check(arr)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [12]:
for i in arr:
    if(lambda x: x%2==0)(i):
        print(i)

2
4
6

In [14]:
p

[1, 2, 3, 4, 56, 6]

In [15]:
#smalltalk jo hai vo 99% object orinted hai

In [16]:
#encapsulation:multiple data ko ek sath rakho  
#abstraction:bas input or output ptta hogga
#Inheritance
#polymorphosim

In [17]:
##encapsulation
name=["a","b","c"]
roll=[1,2,3]
or
d=[{"name":"yatharth"
   "roll":"12"}]

SyntaxError: invalid syntax (<ipython-input-17-fdf0f4632e6d>, line 4)

In [18]:
##abstraction
ex sorted

SyntaxError: invalid syntax (<ipython-input-18-79d58353fd4e>, line 2)

In [19]:
##inhertance
##polymorphosism ::: change hotta hai ye

In [1]:
n=31
k=1
bin(n).count('1'*k)

5

In [ ]:
def add(a):