In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.Series([1,2,3,4,0,5,np.nan,10])

In [5]:
df

0     1.0
1     2.0
2     3.0
3     4.0
4     0.0
5     5.0
6     NaN
7    10.0
dtype: float64

In [7]:
dates=pd.date_range('20200101',periods=10)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df=pd.DataFrame(np.random.randint(4,10),index=dates,columns=['A','B','C','D'])

In [14]:
df

            A  B  C  D
2020-01-01  8  8  8  8
2020-01-02  8  8  8  8
2020-01-03  8  8  8  8
2020-01-04  8  8  8  8
2020-01-05  8  8  8  8
2020-01-06  8  8  8  8
2020-01-07  8  8  8  8
2020-01-08  8  8  8  8
2020-01-09  8  8  8  8
2020-01-10  8  8  8  8

In [15]:
np.random.randint?

In [16]:
df=pd.DataFrame(np.random.randint(1,10),index=dates,columns=['A','B','C','D'])

In [17]:
df

            A  B  C  D
2020-01-01  5  5  5  5
2020-01-02  5  5  5  5
2020-01-03  5  5  5  5
2020-01-04  5  5  5  5
2020-01-05  5  5  5  5
2020-01-06  5  5  5  5
2020-01-07  5  5  5  5
2020-01-08  5  5  5  5
2020-01-09  5  5  5  5
2020-01-10  5  5  5  5